VITE_SUPABASE_URL= supabase url
VITE_SUPABASE_ANON_KEY= supabase public anon key
DATABASE_URL= Database url
DIRECT_URL= Database direct connect url
SESSION_SECRET= Session secret
GROQ_API_KEY = groq api key